{% extends 'base.html.twig' %}

{% block header %}

    {% javascripts '@ConstructionBundle/Resources/public/js/ConstructionForm/*' output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}

    <div class="container body-container">
        <div class="row">
            <div class="col-sm-9">
                {{ include('form/flash_messages.html.twig') }}
                <h1>Tworzenie nowego objektu</h1>
                {{ form_start(form) }}
                    {{ form_row(form.constructionName) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.note) }}
                    {{ form_row(form.noteVisibility) }}
                    {{ form_row(form.publishedAt) }}

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Dodaj
                    </button>
                    {{ form_widget(form.saveAndCreateNew, {label: 'Zapisz i dodaj kolejną', attr: {class: 'btn btn-primary'}}) }}
                    <a href="{{ path('construction_homepage') }}" class="btn btn-link">
                        <i class="far fa-list-alt" aria-hidden="true"></i> Powrót do listy objektów
                    </a>
                {{ form_end(form) }}
            </div>
            <div id="sidebar" class="col-sm-3">
                <div class="alert alert-info">
                    <strong>Informacja!</strong> 
                    <hr>
                    <p><strong>Notatka - </strong>Ważna informacja na temat budowy</p>
                    <p><strong>Np.</strong>Pilne zlecenie!!!, Za 2 tygodnie oddać objekt!, ...</p>
                </div>
                <div class="alert alert-info">
                    <strong>Informacja!</strong> 
                    <hr>
                    <p><strong>Widoczność notatki - </strong>Miejsce wyświetlania notatki</p>
                    <p><strong>Główna strona: </strong>obok listy wszystkich objektów</p>
                    <p><strong>Podstrona: </strong>na stronie konkretnego objektu</p>
                    <p><strong>Wyłączyć: </strong>dezaktywacja notatki</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}