{% extends 'base.html.twig' %}
{% block header %}

    {% javascripts '@ConstructionBundle/Resources/public/js/EquipmentList.js' output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <h1>Lista sprzętu</h1>
            {% for note in notes %}
                <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12 alertDashBoard">
                    <div class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ note.subject }}</strong>
                        <hr>
                        <p>{{note.text}}</p>
                    </div>
                </div>
            {% endfor %}
        </div> 
        <div class="row">
            <div id="main" class="col-sm-12">
                {{ include('form/confirmation_message.html.twig', 
                    {
                        'path':'equipment_delete',
                        'subject':'sprzęt',
                        'btnlabel': 'Usuń sprzęt'
                    }) 
                }}
                {{ include('form/flash_messages.html.twig') }}
                
                <a id="equipmentAdd" href="{{ path('equipment_add') }}" class="btn btn-block btn-sm btn-success">
                    <i class="fas fa-plus" aria-hidden="true"></i> Nowy sprzęt
                </a>
                <table id="scroll" class="table table-striped table-middle-aligned">
                    <thead>
                        <tr>
                            <th scope="col">Nazwa <i class="fas fa-sort"></i></th>
                            <th scope="col">
                                <i class="far fa-folder" aria-hidden="true"></i>
                                Kategoria
                                <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col">
                                <i class="fas fa-barcode" aria-hidden="true"></i>
                                Nr. seryjny
                                <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" class="text-center">
                                <i class="fas fa-cogs" aria-hidden="true"></i>
                                Akcje
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                            <tr>
                                <td>{{ equipment.equipmentName }}</td>
                                {% if equipment.equipmentCategory == null %}
                                    <td>brak kategorii</td>
                                {% else %}
                                    <td>{{ equipment.equipmentCategory.categoryName }}</td>
                                {% endif %}
                                <td>{{ equipment.equipmentSerialNumber }}</td>
                                <td class="text-center">
                                    <div class="item-actions">
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                            Edytuj
                                        </a>
                                        <a data-element-id="{{equipment.id}}" data-toggle="modal" href="#confirmationModal" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                            Usuń
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" align="center">Brak sprzętu</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}