{% extends 'base.html.twig' %}
{% block header %}

    {% javascripts '@ConstructionBundle/Resources/public/js/ConstructionList/*' output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('form/confirmation_message.html.twig') }}
                {{ include('form/flash_messages.html.twig') }}
                <h1>Lista otwartych objektów budowlanych</h1>
                <table id="scroll" class="table table-striped table-middle-aligned">
                    <thead>
                        <tr>
                            <th scope="col">Nazwa <i class="fas fa-sort"></i></th>
                            <th scope="col">
                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                Dodano
                                <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" class="text-center">
                                <i class="fas fa-cogs" aria-hidden="true"></i>
                                Akcje
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for construction in constructions %}
                            <tr>
                                <td><a href="{{ path('construction_details', {id: construction.id}) }}">{{ construction.constructionName }}</a></td>
                                <td>{{ construction.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</td>
                                <td class="text-center">
                                    <div class="item-actions">
                                        <a href="{{ path('construction_edit', {id: construction.id}) }}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                            Edytuj
                                        </a>
                                        <a data-construction-id="{{construction.id}}" data-toggle="modal" href="#confirmationModal" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                            Usuń
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" align="center">Brak objektów</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="sidebar" class="col-sm-3">
                <div class="section actions">
                    <a href="{{ path('construction_add') }}" class="btn btn-block btn-lg btn-success">
                        <i class="fas fa-plus" aria-hidden="true"></i> Nowy objekt
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}