{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}

    <div class="flex-container">
        <div class="row">
            <div class="box">
                {{ form_start(form) }}
                    <fieldset>
                        <legend>
                            <i class="fa fa-lock" aria-hidden="true"></i> 
                            Bezpieczne logowanie
                        </legend>
                        {% if error %}
                            <div class="errorBox">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {{ form_row(form._username) }}
                        {{ form_row(form._password) }}
                        {{ form_widget(form.rememberme) }}
                        <button type="submit" class="btn btn-primary">Zaloguj się <i class="fas fa-sign-in-alt"></i></button>
                        <p style="text-align:right;"><a href="{{ path('registration') }}">Nie masz konta?</a></p>
                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}